@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 473px;
  box-sizing: content-box;
  height: 100vh;
  border: 1px solid black;
  /* border-radius: 50px; */
  position: relative;
  overflow: hidden;
}

.bubble {
  width: 270px;
  /* height: 45px; */
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(87, 72, 72, 0.1);
}

.bubble-left {
  background-color: #f4f4f7;
  border-radius: 25px 25px 25px 0px;
}

.bubble-right {
  background-color: #ffe6e6;
  border-radius: 25px 25px 0px 25px;
}

.kick-box {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.kick-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* 검은색 오버레이, 투명도 조절 가능 */
}

.donutParent::before {
  content: '';
  position: absolute;
  left: 14%;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 50%;
  background-color: white;
}

/* .whiteDonut {
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 50%;
} */

.right-tri {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 40px solid #d8739b;
  border-right: 40px solid transparent;
}

.left-tri {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid #d8739b;
}
