@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 473px;
  box-sizing: content-box;
  height: 100vh;
  border: 1px solid black;
  /* border-radius: 50px; */
  position: relative;
  overflow: hidden;
}

/* .whiteDonut {
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 50%;
} */

.right-tri {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 40px solid #d8739b;
  border-right: 40px solid transparent;
}

.left-tri {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid #d8739b;
}

.MuiChartsLegend-root .MuiChartsLegend-column {
  dispaly: none;
}
